@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    font-family: var(--font-dm-sans), sans-serif;
    color: #274348 !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-epilogue), sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .mobile-bg-innovation {
    background-image: url("/images/innovation-bg.png");
    background-size: 45% 94.59%, auto;
    background-repeat: no-repeat;
    background-position: right center;
  }

  @media (min-width: 768px) {
    .mobile-bg-innovation {
      background-image: none;
    }
  }
}
